.header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 100%;
    right: 0;
    height: 65px;
    padding: 0 30px;
    align-items: center;
    z-index: 4;
    background-color: var(--bg-color);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}


.header__logo img {
    height: 40px;
    width: 200px;
    border-radius: 40px;
}

.header__infor-list {
    display: flex;
    list-style: none;
}

.header__infor-item {
    margin-right: 40px;
    font-size: 1.8rem;
}

.header__infor-item-link {
    text-decoration: none;
    color: var(--text-color)
}