*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root{
    --text-color: rgb(119,121,126);
    --bg-color: rgb(255,255,255);
    --bg-button: rgb(235,236,239);
}


.app{
    max-width: 1280px;
    margin: 0 auto;

}
.container{
    padding-top: 70px;
    padding-bottom: 100px;
}
@import url('./home.css');
@import url('./header.css');
@import url('./filter.css');
@import url('./loading');
@import url('./modal.css');